
.icon-style1-a:before { content: '\e800'; } /* '' */
.icon-style1-b:before { content: '\e801'; } /* '' */
.icon-style1-c:before { content: '\e802'; } /* '' */
.icon-style1-d:before { content: '\e803'; } /* '' */
.icon-style1-e:before { content: '\e804'; } /* '' */
.icon-style1-f:before { content: '\e805'; } /* '' */
.icon-style1-g:before { content: '\e806'; } /* '' */
.icon-style1-h:before { content: '\e807'; } /* '' */
.icon-style1-i:before { content: '\e808'; } /* '' */
.icon-style1-j:before { content: '\e809'; } /* '' */
.icon-style1-k:before { content: '\e80a'; } /* '' */
.icon-style1-l:before { content: '\e80b'; } /* '' */
.icon-style1-m:before { content: '\e80c'; } /* '' */
.icon-style1-n:before { content: '\e80d'; } /* '' */
.icon-style1-o:before { content: '\e80e'; } /* '' */
.icon-style1-p:before { content: '\e80f'; } /* '' */
.icon-style1-q:before { content: '\e810'; } /* '' */
.icon-style1-r:before { content: '\e811'; } /* '' */
.icon-style1-s:before { content: '\e812'; } /* '' */
.icon-style1-t:before { content: '\e813'; } /* '' */
.icon-style1-u:before { content: '\e814'; } /* '' */
.icon-style1-v:before { content: '\e815'; } /* '' */
.icon-style1-w:before { content: '\e816'; } /* '' */
.icon-style1-x:before { content: '\e817'; } /* '' */
.icon-style1-y:before { content: '\e818'; } /* '' */
.icon-style1-z:before { content: '\e819'; } /* '' */
.icon-style2-a:before { content: '\e81a'; } /* '' */
.icon-style2-b:before { content: '\e81b'; } /* '' */
.icon-style2-c:before { content: '\e81c'; } /* '' */
.icon-style2-d:before { content: '\e81d'; } /* '' */
.icon-style2-e:before { content: '\e81e'; } /* '' */
.icon-style2-f:before { content: '\e81f'; } /* '' */
.icon-style2-g:before { content: '\e820'; } /* '' */
.icon-style2-h:before { content: '\e821'; } /* '' */
.icon-style2-i:before { content: '\e822'; } /* '' */
.icon-style2-j:before { content: '\e823'; } /* '' */
.icon-style2-k:before { content: '\e824'; } /* '' */
.icon-style2-l:before { content: '\e825'; } /* '' */
.icon-style2-m:before { content: '\e826'; } /* '' */
.icon-style2-n:before { content: '\e827'; } /* '' */
.icon-style2-o:before { content: '\e828'; } /* '' */
.icon-style2-p:before { content: '\e829'; } /* '' */
.icon-style2-q:before { content: '\e82a'; } /* '' */
.icon-style2-r:before { content: '\e82b'; } /* '' */
.icon-style2-s:before { content: '\e82c'; } /* '' */
.icon-style2-t:before { content: '\e82d'; } /* '' */
.icon-style2-u:before { content: '\e82e'; } /* '' */
.icon-style2-v:before { content: '\e82f'; } /* '' */
.icon-style2-w:before { content: '\e830'; } /* '' */
.icon-style2-x:before { content: '\e831'; } /* '' */
.icon-style2-y:before { content: '\e832'; } /* '' */
.icon-style2-z:before { content: '\e833'; } /* '' */
.icon-style3-a:before { content: '\e834'; } /* '' */
.icon-style3-b:before { content: '\e835'; } /* '' */
.icon-style3-c:before { content: '\e836'; } /* '' */
.icon-style3-d:before { content: '\e837'; } /* '' */
.icon-style3-e:before { content: '\e838'; } /* '' */
.icon-style3-f:before { content: '\e839'; } /* '' */
.icon-style3-g:before { content: '\e83a'; } /* '' */
.icon-style3-h:before { content: '\e83b'; } /* '' */
.icon-style3-i:before { content: '\e83c'; } /* '' */
.icon-style3-j:before { content: '\e83d'; } /* '' */
.icon-style3-k:before { content: '\e83e'; } /* '' */
.icon-style3-l:before { content: '\e83f'; } /* '' */
.icon-style3-m:before { content: '\e840'; } /* '' */
.icon-style3-n:before { content: '\e841'; } /* '' */
.icon-style3-o:before { content: '\e842'; } /* '' */
.icon-style3-p:before { content: '\e843'; } /* '' */
.icon-style3-q:before { content: '\e844'; } /* '' */
.icon-style3-r:before { content: '\e845'; } /* '' */
.icon-style3-s:before { content: '\e846'; } /* '' */
.icon-style3-t:before { content: '\e847'; } /* '' */
.icon-style3-u:before { content: '\e848'; } /* '' */
.icon-style3-v:before { content: '\e849'; } /* '' */
.icon-style3-w:before { content: '\e84a'; } /* '' */
.icon-style3-x:before { content: '\e84b'; } /* '' */
.icon-style3-y:before { content: '\e84c'; } /* '' */
.icon-style3-z:before { content: '\e84d'; } /* '' */
