
.header-social .single-list {
    display: inline-block;
    border-right: 0px !important;
    margin-right: 0px;
    padding-right: 0px;
  }
  .header-social .single-list a {
    border: 1px solid var(--primary-border);
    font-size: 18px;
    margin-left: 6px;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: var(--primary-title);
    text-align: center;
  }
  .header-social .single-list a i {
    margin: 0;
  }
  .header-social .single-list a:hover {
    color: var(--white) !important;
    background: var(--primary-title);
    border: 1px solid transparent;
  }
  .header-social .single-list a:hover i {
    color: var(--white) !important;
  }
  
  @media (max-width: 991px) {
    #introduction {
      padding-top: 30px;
    }
  }
  
  .header-area {
    -webkit-box-shadow: 0 0 10px 0 rgba(6, 27, 40, 0.1);
            box-shadow: 0 0 10px 0 rgba(6, 27, 40, 0.1);
  }
  @media (max-width: 991px) {
    .header-area {
      padding: 18px 10px;
    }
  }
  .header-area .main-menu .listing .single-list {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  .header-area .main-menu .listing .single-list .single {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: var(--primary-title);
    font-weight: 500;
    padding: 24px 14px;
    display: block;
    font-size: 16px;
    text-transform: capitalize;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-menu .listing .single-list .single {
      padding: 31px 5px;
    }
  }
  .header-area .main-menu .listing .single-list.search {
    margin-left: 12px;
  }
  .header-area .main-menu .listing .single-list.search .single {
    padding: 5px 8px;
  }
  .header-area .main-menu .listing .single-list.search i {
    background: var(--primary);
    cursor: pointer;
    padding: 15px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
  }
  .header-area .main-menu .listing .single-list:hover > .single {
    color: var(--primary);
  }
  .header-area .main-menu .listing .single-list:hover > .single::before {
    left: 0;
    right: auto;
    width: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-area .main-menu .listing .listing.submenu {
    position: absolute;
    width: 220px;
    background: #fff;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 4px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-menu .listing .listing.submenu {
      right: 0;
      left: auto;
    }
  }
  .header-area .main-menu .listing .listing.submenu > .single-list {
    margin-left: 7px;
    display: block;
  }
  .header-area .main-menu .listing .listing.submenu > .single-list > .single {
    padding: 6px 10px !important;
    font-size: 16px;
    text-transform: capitalize;
  }
  .header-area .main-menu .listing .listing.submenu > .single-list > .single::before {
    position: unset;
  }
  .header-area .main-menu .listing .listing.submenu > .single-list > .single:hover {
    color: var(--primary);
    background: none;
    padding-left: 13px !important;
  }
  
  .header-style-one .main-menu .listing > .single-list > .single {
    color: #fff;
  }
  .header-style-one .main-menu .listing.submenu > .single-list > .single {
    color: var(--primary-title);
    padding: 8px 14px;
  }
  
  .main-header .listing > .single-list:hover > .listing.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  
  .header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
  }
  
  .header-sticky.sticky-bar {
    background: #ffffff;
  }
  
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
  }
  .mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px !important;
  }
  .mobile_menu .slicknav_menu .slicknav_btn {
    top: -38px;
    right: 20px;
  }
  .mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
    background-color: var(--primary) !important;
  }
  .mobile_menu .slicknav_menu .slicknav_nav {
    margin-top: 8px !important;
  }
  .mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 16px;
  }
  .mobile_menu .slicknav_menu .slicknav_nav a:hover {
    color: var(--primary);
  }
  .mobile_menu .slicknav_menu .slicknav_nav .btn-primary-fill {
    display: inline-block;
    padding: 11px 16px;
    color: var(--white);
    border-radius: 6px;
  }
  .mobile_menu .slicknav_menu .slicknav_nav .header-btn2 {
    display: inline-block;
    border-radius: 30px;
    margin-left: 0;
  }
  .mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
    padding: 0 !important;
  }
  .mobile_menu .slicknav_menu .slicknav_nav .slicknav_arrow {
    color: var(--primary);
  }
  

  .py-100{
    padding-top: 50px;
    padding-bottom: 50px;
  }



  /* Search */
.search-box.style-five {
    width: 100%;
  }
  
  .search-box.style-five .input-form {
    position: relative;
  }
  
  .search-box.style-five .input-form.left-button button {
    right: auto;
    left: 0;
    top: 0;
    border-radius: 8px;
    padding: 5px 18px;
    font-size: 16px;
  }
  .search-box.style-five .input-form.left-button input {
    padding-left: 75px;
    padding-right: 20px;
  }
  
  .search-box.style-five .input-form.left-button-two button {
    right: auto;
    left: 0;
    top: 0;
    border-radius:8px
    padding: 5px 18px;
    font-size: 16px;
  }
  
  .search-box.style-five .input-form.left-button-two input {
    padding-left: 130px;
    padding-right: 20px;
  }
  
  .search-box.style-five .input-form input {
    position: relative;
    border: 1px solid #EAECF0;
    border-radius: 0px;
    margin-bottom: 20px;
    background: none;
    color: #000;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    border: 1px solid #EAECF0;
    margin-bottom: 20px;
    padding: 9px 18px 9px 20px;
    padding-right: 75px;
  }
  
  .search-box.style-five .input-form input::placeholder {
    font-size: 16px;
    font-weight: 400;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .search-box.style-five .input-form input::placeholder {
      font-size: 13px;
    }
  }
  
  @media (max-width: 575px) {
    .search-box.style-five .input-form input::placeholder {
      font-size: 13px;
    }
  }
  
  .search-box.style-five .input-form button {
	color: #000;
	cursor: pointer;
	border: 0;
	background: #ddd;
	position: absolute;
	right: 0;
	left: auto;
	top: 0;
	height: 50px;
	text-align: center;
	padding: 5px 18px;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	font-weight: 500;
}
  .search-box.style-five .input-form button i {
    font-size: 25px;
    line-height: 42px;
  }
  input:focus-visible {
	outline: none;
}

button {
	text-decoration: none;
}

a {
	text-decoration: none;
}